body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row ;
    height: 90vh;
    background-color: #E1D7C6;
    gap: 5%;
    margin-top: 2%;
}

.head{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.head > p{
    margin-bottom: 10%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#container{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    width: 625px;
    height: 625px;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.box{
    background-color: #F8F4EA;
    width: 25px;
    height: 25px;
}

.modified-box{
    background-color: black;
}

.settings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings > button{
    background-color: #E1D7C6;
    border: 2px solid #579BB1;
    border-radius: 8px;
}

.settings > button:active{
    background-color: #F8F4EA;
    border: 2px solid #3e8e41   ;
    transform: translateX(4px);
    border-radius: 5px;
}