body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #E1D7C6;
    gap: 5%;
}

#container{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    width: 625px;
    height: 625px;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.box{
    background-color: #F8F4EA;
    width: 25px;
    height: 25px;
}

.modified-box{
    background-color: black;
}

.settings{

}

.settings > p{
    margin: 10px 0 0 0;
    font-size: smaller;
}